<h1>Welcome: <%= current_user.first_name %></h1>

<hr>

 <%= link_to 'All Lists', lists_path %>

<br>

<%= link_to 'Profile', edit_user_registration_path %>

<%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Really Logout?'} %>